.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #61dafb;
  border-top: 10px solid rgb(99, 99, 99);
  border-right: 10px solid rgb(99, 99, 99);
  border-radius: 0 100px 0 0;
}

.footer1 {
  display: flex;
  align-items: center;
}

.footer2 {
  display: flex;
}

.ancora {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: column;
}

.social-media {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.icones {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
