.header {
  display: flex;
  flex-direction: column;
  border-top: 20px solid #61dafb;
  border-left: 10px solid #61dafb;
  border-right: 0;
  border-bottom: 230px solid #61dafb;
  border-radius: 10px 10px 0 100px;
  padding: 30px;
}
